________________________________________________________________________________

# **ASSIGNMENT - 1**
________________________________________________________________________________

# **3.** S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
# S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

________________________________________________________________________________
# 3.a                      WAP to add 55 and 66 in Set S1.
________________________________________________________________________________

In [2]:
S1 = set([10,20,30,40,50,60])
print("ORIGINAL SET S1 ---> ",S1)
S1.add(55)
S1.add(66)
print("SET AFTER ADDING ELEMENTS ---> ",S1)

ORIGINAL SET S1 --->  {40, 10, 50, 20, 60, 30}
SET AFTER ADDING ELEMENTS --->  {66, 40, 10, 50, 20, 55, 60, 30}

________________________________________________________________________________
# 3.b WAP to remove 10 and 30 from Set S1.
________________________________________________________________________________

In [3]:
S1 = set([10,20,30,40,50,60])
print("ORIGINAL SET S1 ---> ",S1)
S1.remove(10)
S1.remove(30)
print("SET AFTER DELETING ELEMENTS ---> ",S1)

ORIGINAL SET S1 --->  {40, 10, 50, 20, 60, 30}
SET AFTER DELETING ELEMENTS --->  {40, 50, 20, 60}

________________________________________________________________________________
# 3.c WAP to check whether 40 is present in S1.
________________________________________________________________________________

In [9]:
S1 = set([10,20,30,40,50,60])
print("ORIGINAL SET S1 ---> ",S1)
print("IS 40 PRESENT IN S1 ---> ", 40 in S1)

ORIGINAL SET S1 --->  {40, 10, 50, 20, 60, 30}
IS 40 PRESENT IN S1 --->  True

________________________________________________________________________________
# 3.d WAP to find the union between S1 and S2.
________________________________________________________________________________

In [10]:
S1 = set([10,20,30,40,50,60])
S2 = set([40,50,60,70,80,90])
print("ORIGINAL SET S1 ---> ",S1)
print("ORIGINAL SET S2 ---> ",S2)
print("UNION OF S1 AND S2 ---> ",S1.union(S2))

ORIGINAL SET S1 --->  {40, 10, 50, 20, 60, 30}
ORIGINAL SET S2 --->  {70, 40, 80, 50, 90, 60}
UNION OF S1 AND S2 --->  {70, 40, 10, 80, 50, 20, 90, 60, 30}

________________________________________________________________________________
# 3.e WAP to find the intersection between S1 and S2.
________________________________________________________________________________

In [11]:
S1 = set([10,20,30,40,50,60])
S2 = set([40,50,60,70,80,90])
print("ORIGINAL SET S1 ---> ",S1)
print("ORIGINAL SET S2 ---> ",S2)
print("INTERSECTION OF S1 AND S2 ---> ",S1.intersection(S2))

ORIGINAL SET S1 --->  {40, 10, 50, 20, 60, 30}
ORIGINAL SET S2 --->  {70, 40, 80, 50, 90, 60}
INTERSECTION OF S1 AND S2 --->  {40, 50, 60}

________________________________________________________________________________
# 3.f WAP to find the S1 - S2.
________________________________________________________________________________

In [12]:
S1 = set([10,20,30,40,50,60])
S2 = set([40,50,60,70,80,90])
print("ORIGINAL SET S1 ---> ",S1)
print("ORIGINAL SET S2 ---> ",S2)
print("DIFFERENCE OF S1 AND S2 IS --->",S1-S2)

ORIGINAL SET S1 --->  {40, 10, 50, 20, 60, 30}
ORIGINAL SET S2 --->  {70, 40, 80, 50, 90, 60}
DIFFERENCE OF S1 AND S2 IS ---> {10, 20, 30}

# **OR**

In [13]:
S1 = set([10,20,30,40,50,60])
S2 = set([40,50,60,70,80,90])
print("ORIGINAL SET S1 ---> ",S1)
print("ORIGINAL SET S2 ---> ",S2)
print("DIFFERENCE OF S1 AND S2 IS --->",S1.difference(S2))

ORIGINAL SET S1 --->  {40, 10, 50, 20, 60, 30}
ORIGINAL SET S2 --->  {70, 40, 80, 50, 90, 60}
DIFFERENCE OF S1 AND S2 IS ---> {10, 20, 30}